// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.explore-btn {
  height: 120px;
  width: 120px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}