@use '../abstracts' as *;

.loading-overlay {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading-spinner {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid get-color(clr-light, .2); 
    border-top-color: get-color(clr-accent);
    animation: rotate 1s linear  infinite;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}